<!-- Making a new HTML component
1 - Replace componentTemplate with new name ( 1 occurences in this file )
2 - All code goes into <div class="componentTemplate">
3 - Save file as new name .html -->
<!-- examples/accordion.html -->
<div class="accordion" data-js="accordion">
	<div class="accordion-items">

		<div class="accordion-item" data-js="accordionItem">
			<div class="accordion-header" data-js="accordionTrigger">
				<div class="accordion-headerInner">
					<h3 class="accordion-headerTitle">
						Accordion title 1
					</h3>
				</div>
				<div class="accordion-itemButton">
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
				</div>
			</div>
			<div class="accordion-content" data-js="accordionContent">
				<div class="accordion-contentInner">
					<p>
						Cheesy grin cheese triangles cow. Airedale squirty cheese cheesy grin manchego fromage frais cheese strings cow everyone loves. Fondue babybel boursin ricotta who moved my cheese macaroni cheese roquefort fromage. Dolcelatte queso taleggio cheese slices.
					</p>
				</div>
			</div>
		</div>

		<div class="accordion-item" data-js="accordionItem">
			<div class="accordion-header" data-js="accordionTrigger">
				<div class="accordion-headerInner">
					<h3 class="accordion-headerTitle">
						Accordion title 2
					</h3>
				</div>
				<div class="accordion-itemButton">
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
				</div>
			</div>
			<div class="accordion-content" data-js="accordionContent">
				<div class="accordion-contentInner">
					<p>
						Cheese on toast cottage cheese cheese strings. Cheese and biscuits hard cheese mascarpone cheese slices cheese on toast croque monsieur cheesecake chalk and cheese. Swiss swiss croque monsieur cauliflower cheese lancashire taleggio airedale stilton. Camembert de normandie.
					</p>
				</div>
			</div>
		</div>

		<div class="accordion-item" data-js="accordionItem">
			<div class="accordion-header" data-js="accordionTrigger">
				<div class="accordion-headerInner">
					<h3 class="accordion-headerTitle">
						Accordion title 3
					</h3>
				</div>
				<div class="accordion-itemButton">
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
				</div>
			</div>
			<div class="accordion-content" data-js="accordionContent">
				<div class="accordion-contentInner">
					<p>
						Cow chalk and cheese monterey jack. Squirty cheese jarlsberg cream cheese fondue smelly cheese paneer cheesy feet paneer. Fromage frais emmental cheese and biscuits edam cow parmesan gouda cheese slices. Danish fontina when the cheese comes out everybody's happy red leicester cheese triangles edam macaroni cheese port-salut cheese and wine. Cottage cheese who moved my cheese.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>