<div class="row">
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-add"></span>
			<span> icon-add</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-arrow-down"></span>
			<span> icon-arrow-down</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-arrow-left"></span>
			<span> icon-arrow-left</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-arrow-right"></span>
			<span> icon-arrow-right</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-arrow-up"></span>
			<span> icon-arrow-up</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-brochure"></span>
			<span> icon-brochure</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-calendar"></span>
			<span> icon-calendar</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-caret-down"></span>
			<span> icon-caret-down</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-caret-left"></span>
			<span> icon-caret-left</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-caret-right"></span>
			<span> icon-caret-right</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-caret-up"></span>
			<span> icon-caret-up</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-check"></span>
			<span> icon-check</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-close"></span>
			<span> icon-close</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-delete"></span>
			<span> icon-delete</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-download"></span>
			<span> icon-download</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-email"></span>
			<span> icon-email</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-facebook-full"></span>
			<span> icon-facebook-full</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-facebook"></span>
			<span> icon-facebook</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-gplus"></span>
			<span> icon-gplus</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-grid"></span>
			<span> icon-grid</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-instagram"></span>
			<span> icon-instagram</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-linkedin-full"></span>
			<span> icon-linkedin-full</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-linkedin"></span>
			<span> icon-linkedin</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-list"></span>
			<span> icon-list</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-menu"></span>
			<span> icon-menu</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-minus"></span>
			<span> icon-minus</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-mobile"></span>
			<span> icon-mobile</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-pause"></span>
			<span> icon-pause</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-pin"></span>
			<span> icon-pin</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-play"></span>
			<span> icon-play</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-plus"></span>
			<span> icon-plus</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-print"></span>
			<span> icon-print</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-remove"></span>
			<span> icon-remove</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-search"></span>
			<span> icon-search</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-settings"></span>
			<span> icon-settings</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-share"></span>
			<span> icon-share</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-speech-bubble"></span>
			<span> icon-speech-bubble</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-tick"></span>
			<span> icon-tick</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-twitter"></span>
			<span> icon-twitter</span>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="margin-bottom-20">
			<span class="icon-youtube"></span>
			<span> icon-youtube</span>
		</div>
	</div>
</div>