<!-- Making a new HTML component
1 - Replace componentTemplate with new name ( 1 occurences in this file )
2 - All code goes into <div class="componentTemplate">
3 - Save file as new name .html -->
<div class="randomiser">
	<a type="button" href="/" class="btn btn-danger btn-lg">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
	</a>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

	<h2>Randomiser</h2>
	<div class="row">
		<div class="col-md-6">
			<div id="chart"></div>
		</div>
		<div class="col-md-6">
			<div id="question"><h1></h1><img src="" alt=""></div>
		</div>
	</div>
</div>