<!-- Making a new HTML component
1 - Replace sliderSlick with new name ( 3 occurences in this file )
2 - All code goes into <div class="sliderSlick">
3 - Save file as new name .html -->
<div class="sliderSlick slider">
	<div>
		<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-1&w=1250&h=550" alt="">
	</div>
	<div>
		<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-2&w=1250&h=550" alt="">
	</div>
	<div>
		<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-3&w=1250&h=550" alt="">
	</div>
</div>
