<h1 class="timeline-title text-center">Project title</h1>

<div class="timeline">
    <div class="timeline--section timeline--section-visible">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>File download example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <br>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section timeline--section-visible">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Video example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="videoPlayer timeline-video" data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section timeline--section-visible">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Slider example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="sliderSlick timeline-slider">
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-1&w=1250&h=550" alt="">
                </div>
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-2&w=1250&h=550" alt="">
                </div>
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-3&w=1250&h=550" alt="">
                </div>
            </div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>
    
    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Video example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="videoPlayer timeline-video" data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>
    
    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>File download example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <br>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Slider example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="sliderSlick timeline-slider">
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-1&w=1250&h=550" alt="">
                </div>
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-2&w=1250&h=550" alt="">
                </div>
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-3&w=1250&h=550" alt="">
                </div>
            </div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Video example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="videoPlayer timeline-video" data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>
    
    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>File download example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <br>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Slider example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="sliderSlick timeline-slider">
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-1&w=1250&h=550" alt="">
                </div>
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-2&w=1250&h=550" alt="">
                </div>
                <div>
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Slide-3&w=1250&h=550" alt="">
                </div>
            </div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>Video example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="videoPlayer timeline-video" data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>

    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--entry">
            <h3>File download example</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <br>
            <a href="Assets/images/logo.png" class="item-download" target="_blank">Download file</a>
            <div class="timeline--entryClose">X</div>
        </div>
    </div>
</div>

<!-- Using templating lang to do this use: <%= Key %> for dynamic content from data -->
<script id="resultTemplateVideo" type="text/html">
    <div class="timeline--entry">
        <div class="videoPlayer" data-type="youtube" data-video-id="<%= videoId %>"></div>
        <h3><%= name %></h3>
        <p><%= time %></p>
        <p><%= type %></p>
        <div class="timeline--entryClose">X</div>
	</div>
</script>
<script id="resultTemplateSlider" type="text/html">
    <div class="timeline--entry">
        <div class="sliderSlick timeSlider"></div>
        <h3><%= name %></h3>
        <p><%= type %></p>
        <p><%= time %></p>
        <div class="timeline--entryClose">X</div>
    </div>
</script>
<script id="resultTemplateDoc" type="text/html">
    <div class="timeline--entry">
        <h3><%= name %></h3>
        <p><%= type %></p>
        <p><%= time %></p>
        <p><a href="<%= file %>" target="_blank">Download file</a></p>
        <div class="timeline--entryClose">X</div>
    </div>
</script>
<script id="timeline--section" type="text/html">
    <div class="timeline--section">
        <div class="timeline--line"></div>
        <button class="timeline--dot"><span class="timeline--dotInner">0</span></button>
        <div class="timeline--arrow"><span class="timeline--arrowLeft"></span><span class="timeline--arrowRight"></span></div>
        <div class="timeline--line"></div>
    </div>
</script>